<mat-card>
	<!-- header -->
	<mat-card-header>
		<mat-card-title>
			<!-- title -->
			<span>[{{movieInfo.id}}] {{ movieInfo.title }}</span>

			<div class="icon-wrapper">
				<!-- select / unselect -->
				<button
					*ngIf="showSelectMovie"
					matTooltip="Mark comment"
					mat-icon-button
					(click)="onSelectChange(movieInfo.isSelected === MovieSelectType.Unselected)"
				>
					<mat-icon>{{ movieInfo.isSelected === MovieSelectType.Unselected ? 'star_border' : 'star' }}</mat-icon>
				</button>

				<!-- edit -->
				<button mat-icon-button (click)="onToggleEdit()" color="primary" matTooltip="Edit movie">
					<mat-icon>edit</mat-icon>
				</button>

				<!-- show details -->
				<button *ngIf="showMovieDetailButton" mat-icon-button color="primary" (click)="onShowDetails()" matTooltip="show details">
					<mat-icon>feed</mat-icon>
				</button>

				<!-- delete -->
				<button mat-icon-button (click)="onDeleteMovie()" color="accent" matTooltip="Remove movie">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</mat-card-title>

		<!-- subtitles -->
		<mat-card-subtitle>
			<span>Created at: {{ movieInfo.createdAt | date: 'HH:mm:ss, dd.MM.YYYY'}}</span>
			<span>Upated at: {{ movieInfo.updatedAt | date: 'HH:mm:ss, dd.MM.YYYY'}}</span>
			<span>Total comments: {{ movieInfo.movieCommentCount }}</span>
		</mat-card-subtitle>
	</mat-card-header>

	<!-- body -->
	<mat-card-content>
		<!-- description normal display -->
		<div *ngIf="!editing" class="description">{{movieInfo.description}}</div>

		<!-- editing form -->
		<ng-container *ngIf="editing" [formGroup]="form">
			<!-- title -->
			<mat-form-field appearance="outline">
				<mat-label>Change title</mat-label>
				<textarea matInput formControlName="title"></textarea>
			</mat-form-field>

			<!-- description -->
			<mat-form-field appearance="outline">
				<mat-label>Change description</mat-label>
				<textarea matInput formControlName="description"></textarea>
			</mat-form-field>
		</ng-container>
	</mat-card-content>

	<!-- action buttons -->
	<mat-card-actions *ngIf="editing">
		<button mat-flat-button color="primary" (click)="onSubmit()">Save</button>
		<button mat-stroked-button (click)="onToggleEdit()">Cancel</button>
	</mat-card-actions>
</mat-card>
