:host {
	mat-card {
		mat-card-header {
			mat-card-title {
				font-size: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 4px;

				mat-icon {
					cursor: pointer;
				}

				.icon-wrapper {
					display: flex;
					flex-flow: column;
					position: absolute;
					right: 10px;
					top: 0;
				}
			}

			mat-card-subtitle {
				display: flex;
				flex-flow: column;
				gap: 4px;
			}
		}
	}

	mat-card-content {
		margin-bottom: 0;
	}

	mat-form-field {
		width: 100%;
	}

	.description {
		padding: 16px;
		background-color: #e5e5e5;
		border-radius: 8px;
	}

	mat-card-actions {
		display: flex;
		flex-flow: row;
		gap: 8px;

		button {
			width: 90%;
			margin: auto;
		}
	}
}
