<mat-card>
	<!-- header -->
	<mat-card-header>
		<mat-card-title>[{{movieInfo.id}}] {{ movieInfo.title }}</mat-card-title>
		<mat-card-subtitle>
			<span>Created at: {{ movieInfo.createdAt | date: 'HH:mm, dd.MM.YYYY'}}</span>
			<span>|</span>
			<span>Upated at: {{ movieInfo.updatedAt | date: 'HH:mm, dd.MM.YYYY'}}</span>
		</mat-card-subtitle>
	</mat-card-header>

	<!-- body -->
	<mat-card-content>
		<!-- description normal display -->
		<div *ngIf="!editing">{{movieInfo.description}}</div>

		<!-- editing form -->
		<ng-container *ngIf="editing" [formGroup]="form">
			<!-- title -->
			<mat-form-field appearance="outline">
				<mat-label>Change title</mat-label>
				<textarea matInput formControlName="title"></textarea>
			</mat-form-field>

			<!-- description -->
			<mat-form-field appearance="outline">
				<mat-label>Change description</mat-label>
				<textarea matInput formControlName="description"></textarea>
			</mat-form-field>
		</ng-container>
	</mat-card-content>

	<!-- action buttons -->
	<mat-card-actions>
		<!-- no editing buttons -->
		<ng-container *ngIf="!editing">
			<button mat-flat-button color="accent" (click)="onToggleEdit()">Edit</button>
			<button mat-flat-button color="warn" (click)="onDeleteMovie()">Delete</button>
		</ng-container>

		<!-- edit buttons -->
		<ng-container *ngIf="editing">
			<button mat-flat-button color="primary" (click)="onSubmit()">Save</button>
			<button mat-stroked-button (click)="onToggleEdit()">Cancel</button>
		</ng-container>
	</mat-card-actions>
</mat-card>
