<mat-card>
	<!-- header -->
	<mat-card-header>
		<mat-card-title>{{ title }}</mat-card-title>
	</mat-card-header>

	<!-- body -->
	<form [formGroup]="form" (submit)="onSubmit()">
		<mat-card-content>
			<!-- title -->
			<mat-form-field appearance="outline">
				<mat-label>Add title</mat-label>
				<input matInput formControlName="title" />
			</mat-form-field>

			<!-- description -->
			<mat-form-field appearance="outline">
				<mat-label>Add description</mat-label>
				<textarea matInput formControlName="description"></textarea>
			</mat-form-field>
		</mat-card-content>

		<!-- persisting options -->
		<div class="wrapper-radio-options">
			<label id="persisting_options">Persisting options</label>
			<mat-radio-group formControlName="persistOption" aria-labelledby="persisting_options">
				<mat-radio-button *ngFor="let season of persistOptions" [value]="season"> {{season}} </mat-radio-button>
			</mat-radio-group>
		</div>

		<!-- action buttons -->
		<mat-card-actions>
			<button mat-flat-button color="primary" type="submit">Save</button>
		</mat-card-actions>
	</form>
</mat-card>
