:host {
	mat-form-field {
		width: 100%;
	}

	mat-card-header {
		height: 55px;
	}

	mat-card-actions {
		display: flex;
		justify-content: end;
		gap: 16px;

		button {
			min-width: 90%;
			margin: auto;
		}
	}
}
