<!-- show create movie form -->
<div>
	<app-movie-form (addMovie)="onMovieAdd($event)"></app-movie-form>
</div>

<!-- list movies -->
<h1>Movie list</h1>
<div class="wrapper-grid">
	<!-- movies persisted on the backend -->
	<div class="wrapper-movie">
		<h3>Movies persisted on the backend</h3>
		<app-movie-card
			*ngFor="let movieInfo of moviesFromServer$ | async"
			[movieInfo]="movieInfo"
			(deleteMovie)="onMovieDeleteToServer($event)"
			(editMovie)="onEditMovieToServer($event)"
			(toggleSelectMovie)="onToggleSelectMovie(movieInfo, $event)"
		></app-movie-card>
	</div>

	<!-- Persited movie localy in reactive variables -->
	<div class="wrapper-movie">
		<h3>Persited movie localy in reactive variables</h3>
		<app-movie-card
			*ngFor="let movieInfo of moviesFromReactiveVariables$ | async"
			[movieInfo]="movieInfo"
			[showSelectMovie]="false"
			(deleteMovie)="onMovieDeleteToReactiveVariables($event)"
			(editMovie)="onMovieEditToReactiveVariables($event)"
		></app-movie-card>
	</div>

	<!-- Persisted movie locally in Apollo Cache -->
	<div class="wrapper-movie">
		<h3>Persited movie locally in Apollo Cache</h3>
		<app-movie-card
			*ngFor="let movieInfo of moviesFromApolloCache$ | async"
			[movieInfo]="movieInfo"
			(deleteMovie)="onMovieDeleteToApolloCache($event)"
			(editMovie)="onMovieEditToApolloCache($event)"
			(toggleSelectMovie)="onToggleSelectMovie(movieInfo, $event)"
		></app-movie-card>
	</div>
</div>
