<!-- show create movie form -->
<div class="wrapper-grid">
	<!-- form to persis movie on the backend -->
	<app-movie-form title="Send movie to the Backend" (addMovie)="onMovieAddToServer($event)"></app-movie-form>
	<!-- form to persist movie in reactive variables -->
	<app-movie-form
		title="Persit movie localy in reactive variables"
		(addMovie)="onMovieAddToReactiveVariables($event)"
	></app-movie-form>
	<!-- form to persis movies in graphql cache, persist on reload -->
	<app-movie-form title="Persist movie locally in Apollo Cache" (addMovie)="onMovieAddToApolloCache($event)"></app-movie-form>
</div>

<!-- list movies -->
<h1>Movie list</h1>
<div class="wrapper-grid">
	<!-- movies persisted on the backend -->
	<div *ngIf="movies$ | async as movies" class="wrapper-movie">
		<h3>Movies persisted on the backend</h3>
		<app-movie-card
			*ngFor="let movieInfo of movies"
			[movieInfo]="movieInfo"
			(deleteMovie)="onMovieDeleteToServer($event)"
			(editMovie)="onEditMovieToServer($event)"
		></app-movie-card>
	</div>

	<!-- Persited movie localy in reactive variables -->
	<div *ngIf="movies$ | async as movies" class="wrapper-movie">
		<h3>Persed movie localy in reactive variables</h3>
		<app-movie-card
			*ngFor="let movieInfo of movies"
			[movieInfo]="movieInfo"
			(deleteMovie)="onMovieDeleteToReactiveVariables($event)"
			(editMovie)="onMovieEditToReactiveVariables($event)"
		></app-movie-card>
	</div>

	<!-- Persisted movie locally in Apollo Cache -->
	<div *ngIf="movies$ | async as movies" class="wrapper-movie">
		<h3>Persisted movie locally in Apollo Cache</h3>
		<app-movie-card
			*ngFor="let movieInfo of movies"
			[movieInfo]="movieInfo"
			(deleteMovie)="onMovieDeleteToApolloCache($event)"
			(editMovie)="onMovieEditToApolloCache($event)"
		></app-movie-card>
	</div>
</div>
